<div class="card card-block">
    <h5 class="card-title">Informações de Rendimentos</h5>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="montly-revenue">Renda Mensal</label>
                <input type="text" value="" placeholder="Renda Mensal" class="form-control" id="montly-revenue" />
            </div>
            <div class="form-group">
                <label for="other-revenue">Outros Rendimentos</label>
                <input type="text" value="" placeholder="Outros Rendimentos" class="form-control" id="other-revenue" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="financial-apply">Aplicações Financeiras</label>
                <input type="text" value="" placeholder="Aplicações Financeiras" class="form-control" id="financial-apply" />
            </div>
            <div class="form-group">
                <label for="possessions">Bens em seu nome</label>
                <input type="text" value="" placeholder="Bens em seu nome" class="form-control" id="possessions" />
            </div>
            <div class="form-group">
                <label for="real-state">Imóveis</label>
                <input type="text" value="" placeholder="Imóveis" class="form-control" id="real-state" />
            </div>
        </div>
    </div>
</div>
